.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  padding: 1px; /* padding of 1px to the .canvas element to give the .one element 
  something solid to push off of. Because of this the canvas changed its dimensions 
  to 502 pixels x 602 pixels.*/
  overflow: hidden; /* overflow CSS property is used to control what happens to content
  that is too large to fit in an area and hidden value is used to clip the overflowing 
  content */
  filter: blur(2px); /* filter CSS property is used to apply graphical effects*/
}

/* border shorthand declaration in CSS is 
   border: <border-width> <border-style> <border-color>; */
.frame{
  border: 50px solid black;
  width: 500px;
  padding: 50px; /* This is padding shorthand declaration in CSS for all sides */
  margin: 20px auto; /* This is margin shorthand declaration in CSS for top-bottom 
  and left-right and auto centers the element */
}

.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px #efb762; 
  /*; box-shadow CSS property is used to add shadow effects around an element's frame. 
  the syntax is box-shadow: h-offset v-offset blur spread color; */
  border-radius: 9px; /* border-radius CSS property is used to create rounded corners */
  transform: rotate(-0.6deg); /* transform CSS property is used to apply a 2D or 3D transformation to an element 
  rotate here rotates 0.6deg counter clockwise */
}

.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px auto;
  box-shadow: 0 0 3px 3px #8f0401;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-radius: 8px 10px; /* syntax of border-radius shorthand CSS property is 
  <top-left> <top-right> <bottom-right> <bottom-left> */
  transform: rotate(0.4deg); /* transform CSS property is used to apply a 2D or 3D transformation to an element 
  rotate here rotates 0.4deg clockwise */
}

.one, .two {
  filter: blur(1px);
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20403;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}