html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  /*The fonts with spaces in the name must be wrapped in quotes for CSS"
    and ', sans-serif' is the fallback */
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

* {
  box-sizing: border-box;
}

header h1 { /* Targets only h1 inside header element*/
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
} 

p {
  margin: 0;
  display: flex;
  justify-content: space-between; /*Spaces out child elements evenly with space between them*/
} /* Flexbox only affects elements with multiple child nodes 
        (elements or text + elements). If a <p> has only text, 
        flexbox does nothing visually. If it has text and a <span>, 
        flexbox spaces them apart. */

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

.bold {
    font-weight: 800;
}

.large {
  height: 10px;
}

.large, .medium {
  background-color: black;
  border: 0;
}

.small-text {
  font-size: 0.85rem; /*1rem = 16px, so 0.85rem = 13.6px 
  The rem unit stands for root em, and is relative to the font size of the html element.
  html was set to have a font-size of 16px in this CSS*/
}

.calories-info h2 { /*Targets only h2 inside an element with class calories-info*/
  margin: 0;
}

.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /*Aligns items along the cross axis (vertical axis in this case)*/
  /*justify-content = main axis (row: left/right, column: top/bottom)
   align-items = cross axis (row: top/bottom, column: left/right)*/
  
  /*This combination arranges child elements in a row, spreads them out with equal 
  space between, and aligns them to the bottom edge of the container.*/
}

.left-container p {
  margin: -5px -2px;
  font-size: 2em; /*2em = 2 times the font size of the parent element.
  The parent of .left-container is .calories-info.
  .calories-info does not set a font-size, so it inherits from its parent, which is 
  .label, and .label also does not set a font-size. Therefore, the font size for 
  .left-container (and its parent chain) ultimately inherits from the html element*/
  font-weight: 700;
}

.calories-info span {
  font-size: 2.4em;
  font-weight: 700;
  margin: -7px -2px;
}

.medium {
  height: 5px;
}

.right {
  justify-content: flex-end; /*Aligns child elements to the end of the main axis 
                              (right side in this case)*/
  /*justify-content = main axis (row: left/right, column: top/bottom)
   align-items = cross axis (row: top/bottom, column: left/right)*/
}

.indent {
  margin-left: 1em
}

.double-indent {
  margin-left: 2em;
}

/*.daily-value p {
  border-bottom: 1px solid #888989;
}*/

.daily-value p:not(.no-divider){ /* Selects all <p> elements inside .daily-value 
                                    except those with class no-divider */
  border-bottom: 1px solid #888989;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px; /*Moves the first line of text to the left by 8px*/
}